In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([1, 2, 3])

In [3]:
df

   0
0  1
1  2
2  3

In [4]:
df = pd.DataFrame({'x': [1, 2, 3, 7, 8, 12]})

In [5]:
df

    x
0   1
1   2
2   3
3   7
4   8
5  12

In [6]:
def make_data_array(df, degree):
    X_data = []
    x_values = df['x']
    for x_val in x_values:
        col = []
        for power in range(degree+1):
            col.append(x_val ** power)
        X_data.append(col)
    X_matrix = np.array(X_data)
    return X_matrix

In [9]:
x_matrix = make_data_array(df, 3)

In [10]:
x_matrix.shape

(6, 4)

In [11]:
x_matrix

array([[   1,    1,    1,    1],
       [   1,    2,    4,    8],
       [   1,    3,    9,   27],
       [   1,    7,   49,  343],
       [   1,    8,   64,  512],
       [   1,   12,  144, 1728]])

In [12]:
df2 = pd.DataFrame({'x': [4, 5, 9]})

In [16]:
x2_matrix = make_data_array(df2, 2)

In [17]:
x2_matrix.shape

(3, 3)

In [18]:
x2_matrix

array([[ 1,  4, 16],
       [ 1,  5, 25],
       [ 1,  9, 81]])

In [19]:
inv_x2 = np.linalg.inv(x2_matrix)

In [20]:
inv_x2.shape

(3, 3)

In [21]:
inv_x2

array([[ 9.  , -9.  ,  1.  ],
       [-2.8 ,  3.25, -0.45],
       [ 0.2 , -0.25,  0.05]])

In [22]:
x2_matrix.dot(inv_x2)

array([[1.00000000e+00, 8.88178420e-16, 0.00000000e+00],
       [6.66133815e-16, 1.00000000e+00, 1.66533454e-16],
       [6.66133815e-16, 9.43689571e-16, 1.00000000e+00]])

In [24]:
a = np.array([[4, 7], [2, 6]])
inv_a = np.linalg.inv(a)

In [25]:
a

array([[4, 7],
       [2, 6]])

In [26]:
print(a)

[[4 7]
 [2 6]]

In [27]:
print(inv_a)

[[ 0.6 -0.7]
 [-0.2  0.4]]

In [28]:
a.dot(inv_a)

array([[ 1.00000000e+00,  0.00000000e+00],
       [-2.22044605e-16,  1.00000000e+00]])

In [29]:
print(a.dot(inv_a))

[[ 1.00000000e+00  0.00000000e+00]
 [-2.22044605e-16  1.00000000e+00]]

In [30]:
print(np.dot(a, inv_a))

[[ 1.00000000e+00  0.00000000e+00]
 [-2.22044605e-16  1.00000000e+00]]

In [31]:
b = np.array([[1, 2, 3], [0, 1, 4], [5, 6, 0]])

In [33]:
print(b)

[[1 2 3]
 [0 1 4]
 [5 6 0]]

In [34]:
inv_b = np.linalg.inv(b)

In [36]:
print(inv_b)

[[-24.  18.   5.]
 [ 20. -15.  -4.]
 [ -5.   4.   1.]]

In [37]:
x2_matrix

array([[ 1,  4, 16],
       [ 1,  5, 25],
       [ 1,  9, 81]])

In [39]:
for row in x2_matrix:
    print(row.shape)

(3,)
(3,)
(3,)

In [42]:
a1 = np.array([1, 4, 6])
a2 = np.array([2, 7, 7])

In [43]:
print(a1 - a2)

[-1 -3 -1]